<div class="row" id="worldHeader">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <img [attr.src]="server + '/icones/' + world.logo" class="img-fluid" />
    <span id="worldName">{{ world.name }}</span>
    <span id="worldName">score : {{ world.score }}</span>
    <span id="worldName">money:</span>
    <span [innerHTML]="world.money | bigvalue" id="worldMoney"></span>
    <button
      id="qtMulti"
      type="button"
      (click)="changeQtmulti()"
      class="btn btn-primary"
    >
      {{ qtmulti }}
    </button>
  </div>
  <div class="col-md-4"></div>
</div>
<div class="row" id="productRow">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <app-product
      *ngFor="let product of world.products.product"
      [prod]="product"
      [serv]="server"
      [qtmulti]="qtmulti"
      [money]="world.money"
      class="product"
      (notifyProduction)="onProductionDone($event)"
      (notifyAchat)="onBuy($event)"
    ></app-product>
  </div>
</div>
