<div class="row">
  <div class="col-md-4 text-center">
    <div class="logoWrapper">
      <img
        [attr.src]="server + '/icones/' + this.product.logo"
        class="img-fluid round"
        (click)="startFabrication()"
      />
      <div class="quantite">{{ this.product.quantite }}</div>
      <div class="progress" #bar></div>
    </div>
  </div>
  <div class="col-md-8">
    {{ this.product.name }}
    {{ this.product.vitesse }}
    BUY 1 {{ this.product.cout * this.product.croissance }} timeleft:
    {{ this.product.timeleft }} lastUpdate: {{ this.product.lastUpdate }}
  </div>
</div>
