<div class="row">
  <div class="col-md-4 text-center">
      {{ this.product.name }}
      <img
        [attr.src]="server + '/icones/' + this.product.logo"
        class="round"
        (click)="startFabrication()"
      />
      <div class="quantite">{{ this.product.quantite }}</div>
      

  </div>
  <div class="col-md-8">

    BUY 1 for {{ this.product.cout * this.product.croissance }}
    <div class="progress" #bar></div>
    <button
    id="achat_produit"
    type="button"
    ng-model="button"
    [disabled]="calcMaxCanBuy() > worldMoney"
    (click)="acheterProduit()"
  >
   buy {{ achat }} for {{ calcMaxCanBuy() }}$
  </button>
    
  </div>
</div>