/* You can add global styles to this file, and also import other style files */
.round {
  width: 100px;
  height: 100px;
  border-radius: 25%;
  margin: 0 0 5px 0;
}

#worldName{
  font-size:90px;
}

.product {
  position: relative;
  margin: 5px;
}

.WorldLogo1 {
  float: left;
  height: 100px;
  width: 100px;
}

.WorldLogo2 {
  float: right;
  height: 100px;
  width: 100px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#worldScore{
  padding: 10px;
  text-align:center;
  font-size: 25px;
  cursor: none;
  color: #fff;
  background-color: #be2cd1e3;
  border: none;
  border-radius: 15px;
  margin:20% 25%;
  display:inline-block;
}

#worldCellMoney{
  padding: 10px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  background-color: #be2cd1e3;
  border: none;
  border-radius: 15px;
  margin: 10% 10%;
  display: inline-block;
}